<!-- <center><h1> <%= @libraries.inspect %>         </h1></center> -->


<% @libraries.each do |library| %>
	<div class="transparent-box col-xs-10 col-xs-offset-1">
		<h1> <%= library.author %></h1>
		<h4> <%= library.title %> </h4>
		<h4> <%= library.publisher %></h4>
    <h4> <%= library.variant %> </h4>
	</div>

<% end %>
